h1 GWK5
h2 [webcam capture]
label
  | Output: 
  textarea(name='output',disabled)
video(autoplay)
img#snapshot
script(src='/js/user-media-util.js')
script
  var outputElement = document.getElementsByName("output")[0]
    , videoElement = document.getElementsByTagName('video')[0]
    , snapshotElement = document.getElementById('snapshot')
    , userMediaUtil = new UserMediaUtil()
    , back = document.createElement('canvas')
    , backcontext = back.getContext('2d')
    ;
  if (userMediaUtil.hasGetUserMedia()) {
    outputElement.value = "Browser supports getUserMedia: Yes!";
  } else {
    outputElement.value = "Browser supports getUserMedia: No!";
  }

  navigator.getUserMedia('video', onSuccess, onError);
  //navigator.getUserMedia({audio: true, video: false}, onSuccess, onError);

  function onSuccess(stream) {
    videoElement.src = window.URL.createObjectURL(stream);
    //videoElement.src = stream;
    videoElement.onerror = function (error) {
      stream.stop();
      console.log(error);
    };
  }

  function onError(error) {
    console.error(error);
    console.error('An error occurred: [CODE ' + error.code + ']');
    return;
  }

  cw = 320;
  ch = 240;
  back.width = cw;
  back.height = ch;
  draw(videoElement, backcontext, cw, ch);

  function draw(v, bc, w, h) {

    bc.drawImage(v, 0, 0, w, h);

    //var stringData=back.toDataURL(); // 136
    //var stringData=back.toDataURL('image/jpeg', 0.4); // 2.9
    var stringData=back.toDataURL('image/webp'); // 2.8
    snapshotElement.src = stringData;

    // Start over! 10 frames a second = 100milliseconds
    //setTimeout(function(){ draw(v, bc, w, h); }, 2000);
  }
  setTimeout(function(){ draw(videoElement, backcontext, cw, ch); }, 2000);