h1 GWK5
h2 [webcam capture]
label
  | Browser supported (getUserMedia): 
  input(name='supported',disabled)
script
  function hasGetUserMedia() {
    return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
      navigator.mozGetUserMedia || navigator.msGetUserMedia);
  }

  var supportedElement = document.getElementsByName("supported")[0];
  if (hasGetUserMedia()) {
    supportedElement.value = "Yes!";
  } else {
    supportedElement.value = "No.";
  }