h1 GWK5
h2 Sandbox Demos
ul
  li 
    a(href='/sandbox/webcam-capture') [webcam capture]
  li
    a(href='/sandbox/post-to-server') [post to server]
  li
    a(href='/sandbox/video-to-server') [video to server]
h2 Browser Test
label
  | Browser supported (getUserMedia): 
  input(name='supported',disabled)
div#readme
  :markdown
    ## README
    This project explores the experimental JavaScript webcam device API via navigator.getUserMedia

    Take a look at the [draft W3C spec](http://dev.w3.org/2011/webrtc/editor/getusermedia.html)

    ### Supported Browsers
    *   Desktop
        *   [Chrome](https://www.google.com/intl/en/chrome/browser/) (about:flags => "Enable MediaStream")
        *   [Opera](http://dev.opera.com/articles/view/labs-more-fun-using-the-web-with-getusermedia-and-native-pages/) dev build
    *   Mobile
        *   [Opera Mobile 12](https://play.google.com/store/apps/details?id=com.opera.browser&hl=en) Android

    ### Installation
         git clone ssh://git@github.com:22/ecoad/GWK5.git
         npm install

    ### Licence
    Licenced under the [New BSD License](http://opensource.org/licenses/bsd-license.php)
script(src='/js/user-media-util.js')
script
  var supportedElement = document.getElementsByName("supported")[0]
    , userMediaUtil = new UserMediaUtil();

  if (userMediaUtil.hasGetUserMedia()) {
    supportedElement.value = "Yes!";
  } else {
    supportedElement.value = "No.";
  }