h1 GWK5
h4 Sandbox Demoes
ul
  li 
    a(href='/sandbox/webcam-capture') [webcam capture]
  li
    a(href='/sandbox/post-to-server') [post to server]
h4 Supported Software
ul
  li 
    a(href='https://play.google.com/store/apps/details?id=com.opera.browser&hl=en') Opera mobile 12
    | &nbsp;(camera support on Android)
  li 
    a(href='https://www.google.com/intl/en/chrome/browser/') Chrome
    | &nbsp;(about:flags => "Enable MediaStream")
  li Opera dev build
label
  | Browser supported (getUserMedia): 
  input(name='supported',disabled)
script(src='/js/user-media-util.js')
script
  var supportedElement = document.getElementsByName("supported")[0]
    , userMediaUtil = new UserMediaUtil();

  if (userMediaUtil.hasGetUserMedia()) {
    supportedElement.value = "Yes!";
  } else {
    supportedElement.value = "No.";
  }